<div class="container">
  <h1>Current Events</h1>
  <!-- <div class="row"> -->
  {{#each eventResults}}
  <div class="row">
    <div class="row"><br></div>
    <div class="col-md-6">
      <p>{{this.title}} - {{this.count}} / {{this.capacity}}</p>
      <p>{{this.description}}</p>
      {{#if (this.count > this.capacity)}}
        <p>EVENT is FULL!</p>
      {{else}}
        <a href="#">Register Now</a>
      {{/if}}
    </div>
  </div>
  <p>========================</p>
  {{/each}}
</div>
